**/*.o
**/*.swp
**/*.d
**/*.pb.cc
**/*.pb.h
**/*.ext2
**/*.gcno
**/*.gcda
**/*.profraw
**/*.so
**/*.dtb
**/*.bin
**/*.log
**/*.clang-tidy

**/Dockerfile*

build
third-party/grpc
src/server-manager
src/test-server-manager
src/compile_flags.txt

doc/html
doc/api.md
doc/html/
doc/xml/

.git
.github
.venv
.vscode
.ycm_extra_conf.py
