*.o
*.swp
*.d
*.clang-tidy

build
third-party/grpc
src/server-manager
src/test-server-manager
src/server-manager.log

doc/html
doc/api.md
doc/html/
doc/xml/

.venv
.vscode
.ycm_extra_conf.py

*.so
*.dylib
*.dtb
